@import "tailwindcss";

@media print {
  body {
    background: white !important;
    color: black !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  header, nav, button, .print\:hidden {
    display: none !important;
  }
  @page {
    margin: 0;
  }
}
